.grid {
  display: grid;

  /* grid-template-rows: min-content auto min-content;
  grid-template-columns: min-content auto min-content; */
  grid-template-rows: 1fr 100fr 1fr;
  grid-template-columns: 1fr 100fr 1fr;

  grid-template-areas:
    "a h b"
    "y e x"
    "c f d";

  height: 100dvh;

  font-family: "General Sans", sans-serif;
  background-color: var(--layout-bg-color);
  animation-name: none;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;

  transition: all 0.2s;
}

.areaA {
  grid-area: a;
  padding-left: 5rem;
  padding-top: 3.75rem;
}

.areaB {
  grid-area: b;
  padding-right: 5rem;
  padding-top: 3.75rem;
}

.areaC {
  grid-area: c;
  padding-left: 5rem;
  padding-bottom: 3.75rem;
}

.areaD {
  grid-area: d;
  padding-right: 5rem;
  padding-bottom: 3.75rem;
}

.areaH {
  grid-area: h;
}

.areaF {
  grid-area: f;
}

.areaAll {
  grid-area: 1 / 1 / 4 / 4;
}

.bigLink {
  color: #000000;
  text-decoration: none;
  font-size: 2.2rem;
  z-index: 2;

  &:hover {
    text-decoration: line-through;
  }
}

.bottomWrapper {
  color: #000000;
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 3.75rem;
}

.center {
  overflow-y: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 3.75rem;
  margin: 0 auto 0;
  opacity: 1;
  position: sticky;
  text-align: center;
  top: 3.5rem;
  width: 100%;
  z-index: 1;

  &.hidden {
    opacity: 0;
  }
}

.hugeLogo {
  display: block;
  font-size: 10vw;
  height: 100vh;
  line-height: 100vh;
  margin: 0 auto;
  text-align: center;
}
