.logo {
  font-size: 3.75rem;
  margin: 2rem auto 0;
  opacity: 1;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;

  &.hidden {
    opacity: 0;
  }
}

.hugeLogo {
  display: block;
  font-size: 10vw;
  height: 100vh;
  line-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.footer {
  font-size: 1.5rem;
  height: 12.5rem;
  line-height: 2.25rem;
  padding-top: 6.25rem;
  text-align: center;
}
