.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  padding: 1rem;

  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 100fr 1fr;

  grid-template-areas: "a l m";
}

.logo {
  font-size: 2.75rem;
  opacity: 1;
  text-align: center;
  grid-area: l;

  &.hidden {
    opacity: 0;
  }
}
