.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  overflow-y: auto;
  background: #fff;

  transition: all 200ms ease-in-out;
  width: 100%;
}

.wrapper:global(.preEnter),
.wrapper:global(.exiting),
.wrapper:global(.entering),
.wrapper:global(.unmounted) {
  opacity: 0;
}

.wrapper:global(.entered) {
  opacity: 1;
}

.list {
  display: block;
  font-size: 2rem;
  line-height: 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.link {
  display: block;
  color: #000;

  text-decoration: none;
  text-align: center;
}
